
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<a href="/Admin/Kullanicilar" class="btn btn-primary p-2">Kullanıcı İşlemleri</a>
<a href="/Urunler/Index" class="btn btn-primary p-2">Ürün İşlemleri</a>